#about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-container {
  width: 90%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all .5s;
  /* background: white; */
  padding: 10px;
}

#left-section {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.about-section {
  background: #606A75;
  opacity: 1;
  transition: all .7s;
}

.border-radius {
  border-radius: 10px;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.about-content {
  margin: 20px;
  transition: all .5s;
  font-size: 1.5em !important;
  color: white;
  font-weight: normal;
  /* border: 3px solid white; */
  /* border-radius: 10px; */
}


#bio {
  width: 100%;
  height: 66%;
  display: flex;
  align-items: center;
  background: none;
  position: relative;
}

#prof-pic {
  height: 100%;
  transition: all 1s;
  transform: rotateX(360deg);
}

#pic-container {
  height: 100%;
  max-width: 100%;
}

#bio-info {
  width: 100%;
  height: 100%;
  /* margin-left: 5px; */
}

#education {
  width: 100%;
  height: 34%;
  position: relative;
  /* margin-top: 5px; */

}

#tech {
  width: 20%;
  height: 100%;
  position: relative;
  /* transform: rotate(90deg) */
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .section-container {
    flex-direction: column;
    width: 90%;
    height: 93vh;
  }
  #left-section {
    height: 70%;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  #bio {
    height: 60%;
  }
  #education {
    height: 40%
  }
  #tech {
    width: 100%;
    height: 100%;
    margin: 5px 5px 0 0;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
