html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font-family: monospace; */
  font-family: 'Space Mono', monospace;
  /* font-family: 'Major Mono Display', monospace; */

  font-size: .9em;
  /* font-family: 'Monoton', cursive; */
}

.section-title {
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 3em;
  margin-top: 7vh;
}

.first-letter {
  color: indianred
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #384552;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.project-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10vh 0;
}

.project-section {
  /* height: 100%; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
