a {
  text-decoration: none;
  font-size: 1.3em;
}

li {
  list-style: none;
  width: 100%;
  /* height: 20vh; */
  /* transform: rotate(-90deg) */
}

li:hover {
  background: indianred;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.link {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #606A75;
  transition: background .5s;
}
.link:hover {
  background: indianred;
  z-index: 99;
  /* height: 10vh; */
  /* transform: scaleY(1.5); */
  transform-origin: top center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 7vh;
}
