a {
  text-decoration: none;
  font-size: 1.3em;
}

li {
  list-style: none;
  width: 100%;
  /* height: 20vh; */
  /* transform: rotate(-90deg) */
}

li:hover {
  background: indianred;
}

.list-container {
  /* width: 10vw; */
  /* float: left; */
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  /* position: absolute; */
}

.link {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #606A75;
}
.link:hover {
  background: indianred;
  z-index: 99;
}
