.btn {
  width: 10vw;
  height: 50px;
  border: white 2px solid;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  color: white;
  font-weight: bold;
  z-index: 99;
  position: relative;
  overflow: hidden;
}

.btn-text {
  z-index: 99;
  transition: all .5s;
}

#slider {
  width: 100%;
  height: 100%;
  background: indianred;
  position: absolute;
  /* top: -50px; */
  /* left: 0px; */
  transition: all .5s;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #384552
}



.btn:hover {
  border: indianred solid 2px;
  /* background: indianred; */
  /* color: #384552; */
}
/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .btn {
    width: 20vw;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .btn {
    width: 15vw;
    height: 45px;
    font-size: 1.2em;
  }
}

/* Large desktop */
@media (min-width: 1200px) {

}
