.project-container {
  width: 30vw;
  height: 30vw;
  background: #a0a0a0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 5px; */
  transition: all .5s;
  overflow: hidden;
  position: relative;
}

.img-div {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

img {
  width: 30vw;
  height: 30vw;
}

.banner {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .5s;
  /* left: 0; */
  opacity: .2;
  background: black;
}

.top-banner {
  top: -100%;
  /* background: #384552; */
  /* background: black; */
}

.bottom-banner {
  bottom: -100%;
}
.right-banner {
  left: 100%;
  /* background: #384552; */
}

.left-banner {
  left: -100%;
  /* background: #384552; */
}


.banner-content {
  width: 100%;
  height: 70%;
  /* margin: 5%; */
  position: absolute;
  transition: all .5s;
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.top-banner-content {
  top: -70%;
  flex-direction: column;
  justify-content: center;
}

.bottom-banner-content {
  bottom: -50%;
}

.left-banner-content {
  left: -50%;
  bottom: 0%;
  height: 40%;
  width: 50%;
  align-items: center;
}

.right-banner-content {
  right: -50%;
  bottom: 0%;
  height: 40%;
  width: 50%;
  align-items: center;
}

.project-title {
  color: white;
  font-size: 2em;
  text-align: center;
}

.project-tech {
  /* color: white; */
  color: #00d0d0;
  font-size: 1.5em;
}

.project-description {
  color: white;
  text-align: center;
  margin: 10px 15px;
}

.project-title, .project-tech {
  margin: 5px;
}

.project-container:hover > .img-div{
  filter: blur(8px);
}

.project-container:hover > .top-banner {
  top: 0%;
}

.project-container:hover > .bottom-banner {
  bottom: 0%;
}

.project-container:hover > .top-banner-content {
  top: 0%;
}

.project-container:hover > .bottom-banner-content {
  bottom: 0%;
}

.project-container:hover > .left-banner-content {
  left: 0%;
}

.project-container:hover > .right-banner-content {
  right: 0%;
}

.project-container:hover > .left-banner {
  left: 0%;
}

.project-container:hover > .right-banner {
  left: 0%;
}
