.project-container {
  width: 30vw;
  height: 40vh;
  background: #a0a0a0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 5px; */
  transition: all .5s;
  overflow: hidden;
  position: relative;
}

.img-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.banner {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .5s;
  left: 0;
  opacity: 30%;
  background: #1D232A;
}

.top-banner {
  top: -100%;
  /* background: #384552; */
  /* background: black; */
}

.bottom-banner {
  bottom: -100%;
}
.right-banner {
  left: 100%;
  /* background: #384552; */
}

.left-banner {
  left: -100%;
  /* background: #384552; */
}


.banner-content {
  width: 100%;
  height: 50%;
  position: absolute;
  transition: all .5s;
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.top-banner-content {
  top: -50%;
}

.bottom-banner-content {
  bottom: -50%;
  justify-content: space-around;
}

.left-banner-content {
  left: -50%;
  bottom: 20%;
  height: 100%;
  width: 50%;
  align-items: flex-end;
}

.right-banner-content {
  right: -50%;
  bottom: 20%;
  height: 100%;
  width: 50%;
  align-items: flex-end;
}

.project-title {
  color: white;
  opacity: 100%;
}

.project-container:hover > .img-div{
  filter: blur(8px);
}

.project-container:hover > .top-banner {
  top: 0%;
}

.project-container:hover > .bottom-banner {
  bottom: 0%;
}

.project-container:hover > .top-banner-content {
  top: 0%;
}

.project-container:hover > .bottom-banner-content {
  bottom: 0%;
}

.project-container:hover > .left-banner-content {
  left: 0%;
}

.project-container:hover > .right-banner-content {
  right: 0%;
}

.project-container:hover > .left-banner {
  left: 0%;
}

.project-container:hover > .right-banner {
  left: 0%;
}
